html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 690px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.deck .card {
    height: 130px;
    width: 130px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: shake;
    animation-duration:  0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.deck .card.notMatch{
    animation-name: shake-hori;
    animation-duration: 0.5s;
}

@keyframes shake-hori {
    0% { background-color:red; transform: translate(1px, 1px) rotate(0deg); }
    10% { background-color:red; transform: translate(-1px, -2px) rotate(-2deg); }
    20% { background-color:red; transform: translate(-3px, 0px) rotate(2deg); }
    30% { background-color:red; transform: translate(3px, 2px) rotate(0deg); }
    40% { background-color:red; transform: translate(1px, -1px) rotate(2deg); }
    50% { background-color:red; transform: translate(-1px, 2px) rotate(-2deg); }
    60% { background-color:red; transform: translate(-3px, 1px) rotate(0deg); }
    70% { background-color:red; transform: translate(3px, 1px) rotate(-2deg); }
    80% { background-color:red; transform: translate(-1px, -1px) rotate(2deg); }
    90% { background-color:red; transform: translate(1px, 2px) rotate(0deg); }
    100% { background: #2e3d49; transform: translate(1px, -2px) rotate(-2deg); }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 550px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .time{
    float: right;
}
.score-panel .restart {
    float: right;
}

.score-panel .restart .fa{
    cursor: pointer;
    padding-left: 10px;
}

.swal-modal{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.swal-button--success{
    background-color: rgb(2, 204, 186);
}

@media screen and (max-width: 450px) {
    .deck{
        width: 340px;
        height: 340px;
        padding: 20px;
    }
    .score-panel{
        width: 340px;
    }
    .deck .card {
        height: 60px;
        width: 60px;
        margin-left: 10px;
    }
    .deck .card:nth-child(4n+1) {
        margin-left: 0;
    }
}

@media screen and (min-width: 451px) and (max-width:720px) {
    .deck{
        width: calc(100% - 60px);
        height: 470px;
        padding: 30px;
    }
    .score-panel{
        width: calc(100% - 60px);
    }
    .deck .card {
        height: calc((100% - 80px)/4);
        width: calc((100% - 60px)/4);
        margin-left: 10px;
    }
    .deck .card:nth-child(4n+1) {
        margin-left: 0;
    }
}

@media screen and (min-width: 551px) and (max-width:600px) {
    .deck{
        height: 550px;
    }
}

@media screen and (min-width: 601px) and (max-width:720px) {
    .deck{
        height: 600px;
    }
}


