body {
    text-align: center;
	box-sizing: border-box;
	 margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/background4.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
}

.player-section{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.players{
	width: 505px;
	display: flex;
	align-items: center;
}


.players .choose-btn{
	display: block;
	border: none;
	cursor: pointer;
	background: transparent;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.players .choose-btn:hover {
  	transform: rotateX(0)rotateY(180deg)rotateZ(0);
  	transition: 1s;
  	box-shadow: 0px 0px 0px 2px green;
}

.players .choose-btn img {
	background: transparent;
	height: 155px;
	width: 100px;
}

.score-panel{
	width: 505px;
	font-size: 16px;
	margin-bottom: -60px;
}
.score-panel .life{
	float: left;
	list-style: none;
	overflow: hidden;
	display: inline-flex;
	margin-left: -20px;
}

.score-panel .life li{
	margin-right: 5px;
}

.score-panel .life li .fa-heart{
	color: #e31b23;
	font-size:20px;
}

.score-panel .life li .fa-heart-o{
	font-size:20px;
	-webkit-text-stroke: 1px black;
}

.score-panel .panel-right{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	overflow: hidden;
}



