h2 {
  font-family: Arial;
  font-size: 22px;
  color: steelblue;
  text-align: center;
}

.details{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}
.details img{
	width: 500px;
	height: 500px;
	border-radius: 4px;
}

.details img:hover{
	cursor: pointer;
}
#cat-list{
  font-family: Arial;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}
#cat-list .cat-group li{
	cursor: pointer;
	margin-top: 5px;
}

.score-class{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}