body {
    text-align: center;
	box-sizing: border-box;
	 margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/background4.jpg'); /* Background pattern from Subtle Patterns */
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
}

.instructions{
	padding: 0;
	margin: 0;
}
.instructions p span{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.instructions p{
	font-style: italic;
}

.players{
	width: 505px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.players .choose-btn{
	display: block;
	border: none;
	cursor: pointer;
	background: transparent;
	margin: 0;
	padding: 0;
	margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.players .choose-btn:hover {
  	transform: rotateX(0)rotateY(180deg)rotateZ(0);
  	transition: 1s;
  	box-shadow: 0px 0px 0px 2px green;
}

.players .choose-btn img {
	background: transparent;
	width: 100px;
}