Who's hungry

<ul class="items-container">
	<li class="menu-item">
		<h3>Pear and Goat Cheese Salad</h3>
		<img src="images/pear-and-goat-cheese-salad.jpg" alt="Pear and Goat Cheese Salad">
	</li>
	<li class="menu-item">
		<h3>Salmon Couscous and Arugula Salad</h3>
		<img src="images/salmon-couscous-and-arugula-salad.jpg" alt="Pear and Goat Cheese Salad">
	</li>
	<li class="menu-item">
		<h3>Greek Salad With Chicken</h3>
		<img src="images/greek-salad-with-chicken.jpg" alt="Pear and Goat Cheese Salad">
	</li>
</ul>
{{outlet}}