body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.2em;
    color: #424242;
}
header, nav, footer, section, div {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0; 
}
* {
  box-sizing: border-box;
}
.container {
    max-width: 100%;
}

/*
	header css
*/

.header {
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
    border-bottom: 2px solid grey;
    min-height: 40px;
    transition: min-height 0.3s;
    width: 100%;
}

.header__title {
    float: right;
    width: 50%;
    margin-right: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 50px;
    transition: font-size 5s;
}

.header__title h1 {
    font-weight: 300;
    font-size: 3.0em;
    color: #2d3c49;
}

.header__title h3 {
    font-size: 1em;
    color: #7d97ad;
    font-style: italic;
}

.header__logo {
    margin-top: 15px;
    margin-left: 10px;
    width: 100px;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    width: 100%;
    margin:0;
}

.content img {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
.work {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
}

.work h2 {
    text-transform: uppercase;
    text-align: center;
    color: #2d3c49;
    font-size: 2.5em;
}

.projects {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.project {
    display: block;
    padding-bottom: 10px;
    margin-right: 10px;
}
.project:last-of-type{
    margin-right: 0;
}
.card1:hover{
    background-color: #eee;
}
.project img {
    width: 100%;
    margin-bottom: 40px;
}

.project-name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: #2d3c49;
    margin-bottom: 20px;
}

.project-link {
    font-size: 1.0em;
    color: #7d97ad;
}
.project-link:hover {
    color: brown;
}

.card1 {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding-bottom: 10px;
}
.col-sm{
    padding-right: 0;
    padding-left: 0;
}

.social-icons {
    color: #2d3c49;
}

footer {
    width: 100%;
    display: block;
    background-color: #f1f1f1;
    margin-bottom: 0;
    text-align: center;
}

.social-list {
    text-align: center;
    padding: 0;
}

footer ul li {
    list-style: none;
    margin: 30px;
    display: inline-flex;
}

@media screen and (max-width: 575px){
    .header__title {
        margin:0;
        margin-top: 1.0em;
        margin-bottom: 1.0em;
        padding-left: 0.75em;
        width: 100%;
        text-align: left;
    }
    .content img {
        width: 100%;
        height: auto;
    }
    .work h2{
        font-size: 2.0em;
    }
}

@media screen and (min-width: 576px) and (max-width:768px ){
    .header{
        padding-right: 10px;
    }
    .header__title h1 {
        font-size: 2.5em;
    }
    .project{
        flex-basis: auto;
        margin-bottom: 10px;
        margin-right: 0;
    }
}
@media screen and (min-width: 1100px) {
    .container{
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}


