html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height : 100%;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
  min-height: 70px;
}

.app-name{
  font-size: 2.5em;
  letter-spacing: 2px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-error{
  text-align: center;
  margin-top: 20px;
}

#map {
  position: fixed !important;
  background: #ccc;
}

.place-list{
  position: absolute;
  z-index: 1;
  background: transparent\9;
  box-shadow: 3px 4px 5px #ccc;
  width: 400px;
}

.place-item{
  list-style: none;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid rgba(20, 204, 205, 0.80);
  cursor: pointer;
}

.place-item:hover {
  background: grey;
}

#input-field{
  height: 25px;
  width: 100%;
  font-size: 1.4em;
  padding: 5px;
}

.suggestionButton{
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 1px solid #a9a9a9;
  font-size: 1em;
  transition: opacity 0.5s linear;
}

.suggestionButton:hover {
  color: red;
  cursor: pointer;
}

.marker-info {
  display: block;
  height: 400px;
  padding: 0;
  margin: 0;
}
.marker-photo{
  width: 100%;
  margin-bottom: 5px;
}
.marker-name{
  text-align: center;
}
.markerInfo {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 420px) {
  .place-list{
    width: 300px;
  }
  #input-field {
    height: 15px;
    font-size: 1em;
  }
}

